.sec1 {
  width: 90%;
  margin: 5em auto;
  max-width: 1300px;
}

.sec1 .heading {
  width: fit-content;
  margin: 2em 0;
  text-transform: uppercase;
}

.sec1 .heading h2 {
  padding: 0.5rem 0;
  font-size: 3rem;
}

.sec1 .heading p {
  font-size: 0.9rem;
  font-weight: 700;
}

.sec1 .heading h2 img {
  height: 1em;
  vertical-align: middle;
}

.container .label {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 1em 2em;
}

.container .label p {
  font-size: 0.9rem;
  font-weight: 700;
  opacity: 0.9;
}

.container .label .asset {
  margin-left: 8rem;
}

.container .label .change {
  margin-right: -3rem;
}



@media only screen and (max-width: 480px){
  .sec1 .heading h2 {
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 2rem;
  }
}