.form button {
  margin: 0 5.2rem;
  padding: 0.8rem 1.3rem;
  border: none;
  background-color: var(--primary-yellow);
  font-weight: bolder;
  text-transform: uppercase;
}

.form button:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.flex {
  margin: 0 5.2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.flex p {
  margin: 0;
  padding: 0;
}

.card {
  padding: 1.4rem 2rem;
  background: #e2e2e2;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  text-transform: uppercase;
  margin: 1.5rem 5rem;
}

.card div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.card input {
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.card input:focus {
  outline: none;
}

.card section {
  position: relative;
}

.inputUnit {
  position: absolute;
  font-weight: bold;
  right: 0rem;
  bottom: 0.3rem;
}

.inputUnit select,
.inputUnit option {
  font-weight: bolder;
  text-transform: uppercase;
}

.inputUnit select {
    border-radius: 0.5rem;
  padding: 0.5rem 0.7rem;
  color: white;
  background-color: blue;
}

.inputUnit select:focus {
  outline: none;
}



@media only screen and (max-width: 480px){
  .card {
    margin: 1.5rem;
  }
  .form button {
    margin: 0 2em;
    padding: 0.8rem 1.3rem;
  }
}