a .img .goldGradient {
  width: 4em;
  background: radial-gradient(
    83.19% 83.19% at 27.68% 7.4%,
    #fec600 0%,
    #d1a534 55.39%,
    #ffe600 100%
  );
  border-radius: 50%;
  height: 4em;
  position: relative;
  width: fit-content;
}

a .img .goldGradient img {
  margin: auto;
  height: 70%;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

a .img .buyHcf {
  margin-left: 1em;
  color: white;
}

a {
  text-decoration: none;
}

a .img .buyHcf p {
  color: aqua;
}

a .img .point img {
  margin-left: 1em;
  vertical-align: bottom;
  height: 1.5em;
}

a > .img {
  display: flex;
  align-items: center;
  background-color: #2245ff;
  padding: 0.6em 0.8em;
  border-radius: 20em;
  width: fit-content;
}

a .img .goldGradient {
  width: 4em;
  background: radial-gradient(
    83.19% 83.19% at 27.68% 7.4%,
    #fec600 0%,
    #d1a534 55.39%,
    #ffe600 100%
  );
  border-radius: 50%;
  height: 4em;
  position: relative;
}

a .img .goldGradient img {
  margin: auto;
  height: 70%;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

a .img .buyHcf {
  margin-left: 1em;
  color: white;
}

a {
  text-decoration: none;
}

a .img .buyHcf p {
  color: aqua;
}

a .img .point img {
  margin-left: 1em;
  vertical-align: bottom;
  height: 1.5em;
}

a > .img {
  display: flex;
  align-items: center;
  background-color: #2245ff;
  padding: 0.6em 0.8em;
  border-radius: 20em;
}
