.sec {
  width: 90%;
  margin: 5em auto;
  max-width: 1300px;
}

.titleSection {
  padding: 0 4rem;
  max-width: 1200px;
}

.titleSection h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
  line-height: 1.2;
}

.titleSection p {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--light-gray);
  padding-left: 2.7rem;
  font-size: 0.8rem;
}

.sec .container {
  margin: 4rem auto;
  padding: 3rem;
  padding-bottom: 4rem;
  max-width: 1300px;
  background: #fcfcfc;
  box-shadow: 0px 0px 123px -21px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.modal p {
  font-size: 0.8rem;
}

.modalContainer div {
  padding-top: 0.1rem !important;
  padding-bottom: 1.1rem !important;
  margin: 1rem 0 !important;
}

.modalContainer button {
  margin: 0 !important;
}

.modalContainer p {
  font-size: 0.7rem;
  text-transform: uppercase;
  line-height: 1rem;
}

.modalContainer p div {
  margin: 0 !important;
}

.modalContainer .extra {
  margin-bottom: -2rem !important;
}

.modalContainer p div img {
  width: 1rem;
}

.modalContainer p span {
  font-weight: bold;
  color: var(--primary-blue);
}


@media only screen and (max-width: 480px){
  .titleSection {
    padding: 0rem;
  }
  .titleSection p {
    padding: 0;
  }
  .sec .container {
    padding: 1.5rem 0;
  }
}