.sec1,
.sec2 {
  width: 90%;
  margin: 5em auto;
  max-width: 1300px;
}

.sec2 {
  margin: 5em auto 0;
}

.heading {
  width: fit-content;
  margin: 2em 0;
  width: 100%;
  text-transform: uppercase;
}

.heading h2 {
  padding: 0.5rem 0;
  font-size: 3rem;
}

.sec1 .heading p {
  font-size: 0.9rem;
  font-weight: 700;
}

.sec1 .heading h2 img {
  height: 1em;
  vertical-align: middle;
}

.sec1 .info {
  font-display: flex;
  align-items: center;
}

.info {
  max-width: 1300px;
  background: linear-gradient(
      0deg,
      rgba(0, 24, 152, 0.15),
      rgba(46, 50, 73, 0.15)
    ),
    url(./../../images/bg-image.png);
  box-shadow: 0px 0px 123px -21px rgb(0 0 0 / 20%);
  background-size: cover;
  border-radius: 1.5em;
  background-position: center;
  padding: 2em;
  display: flex;
}

.info > div {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 1em;
}

.info div p {
  font-size: 0.8rem;
  font-weight: 500;
}

.info div h3 {
  margin-bottom: 1em;
}

.deposit {
  right: 0;
  line-height: 1.5;
  color: #081f32;
  background-color: #f4f4f4;
  padding: 0.3em;
  width: 100%;
  margin: 1em auto 0;
  display: block;
  text-align: center;
  border-radius: 15px;
  font-weight: 800;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.value {
  height: 1em;
  background-color: #ffe36a;
  font-size: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 0.42em;
  padding: 0.6em 0;
}

.reach {
  margin-top: 0.4em;
}

.reach > p {
  line-height: 1.5;
  font-size: 0.3em;
}

.reach > div {
  border: 2px solid white;
  background-color: white;
  border-radius: 4px;
  width: 75%;
}

.tab2 {
  display: grid;
  position: relative;
  grid-gap: 2%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3rem 0;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

/* SECTION 3 */

.sec3 {
  width: fit-content;
  margin: 5em auto;
  text-align: center;
  font-weight: 600;
}

.sec3 h3 {
  font-size: 2em;
}

.sec3 p {
  margin: 1.5em 0;
}

.sec3 button {
  border: none;
  background-color: var(--primary-yellow);
  padding: 0.8em 1.5em;
  font-weight: 600;
  cursor: pointer;
}

/* Section 4 */

.sec4 {
  width: fit-content;
  margin: 5em auto;
  text-align: center;
}

.sec4 .heading,
.sec5 .heading {
  text-align: center;
  width: 100%;
}

.sec4 img {
  margin: 2em 0;
  width: 100%;
  max-width: 1400px;
}

/* Section 5 */

.sec5 {
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
  margin-bottom: 10em;
}

.sec5 .questions details summary {
  list-style-type: none;
  position: relative;
}

.sec5 .questions details summary::after {
  content: "+";
  background-color: #c4c4c4;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  right: 0;
  position: absolute;
  cursor: pointer;
}

.sec5 .questions details summary {
  font-size: 1.3em;
  font-weight: 700;
}

.sec5 .questions details {
  margin-bottom: 2em;
  font-weight: 500;
  margin-bottom: 2em;
  font-weight: 500;
}

.sec5 .questions details p {
  width: 90%;
  margin-top: 0.8em;
}

@media only screen and (max-width: 500px) {
  .sec1 .heading h2 {
    font-size: 1.2em;
    text-align: center;
  }

  .sec1 .heading p {
    font-size: 0.6em;
  }

  .sec1 .info {
    flex-direction: column;
    grid-gap: 3em;
    gap: 3em;
    width: 85%;
    margin: 0 auto;
    background: url(./../../images/mobilefreezebg.png);
    background-size: cover;
    background-position: center;
    padding: 3em 2em;
  }

  .sec1 .info > div {
    flex-direction: column;
    align-items: flex-start;
  }

  .sec1 .info > div img {
    width: 2em;
    margin-bottom: 0.4em;
  }

  .sec1 .info > div:first-child img {
    height: 2.8em;
    width: 1.8em;
  }

  .sec1 .info div h3 {
    font-size: 2em;
    margin-bottom: 0;
  }

  .sec2 heading {
    margin: 2em auto;
  }

  .sec2 .heading h2 {
    font-size: 1.2em;
  }

  .sec2 .heading h2 img {
    vertical-align: middle;
  }

  .sec2 {
    padding: 1em 0;
    margin-bottom: 15em;
  }

  .tab2 {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 0;
    padding: 0;
  }

  .sec3 h3 {
    font-size: 1.5em;
    font-weight: 800;
  }

  .sec3 p {
    font-size: 0.7em;
    font-weight: 700;
  }

  .sec4 .heading h2 {
    font-size: 1.2em;
    font-weight: 700;
  }

  .sec4 .heading {
    margin-bottom: 0;
  }

  .sec5 .heading h2 {
    font-size: 1.5em;
    margin-bottom: 1.2em;
  }

  .sec5 .questions details summary {
    font-size: 0.85em;
    padding-right: 3em;
  }

  .sec5 .questions details summary:after {
    font-size: 1.2em;
    height: 1.5em;
    width: 1.5em;
    font-weight: 500;
    line-height: 1.5;
    top: 0;
  }

    .sec5 .questions details p {
      font-size: 0.7em;
    }

}
