.hcfcard {
  padding: 0 20px;
  background: #e3f9e6;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  text-transform: uppercase;
}

.hcfcard section {
  margin: 1.5rem 0;
}

.hcfcard .title {
  font-size: 1rem;
  margin-bottom: 5px;
}

.hcfcard .value {
  font-size: 1.2rem;
  color: #081f32;
}

.hcfcard img {
  float: right;
  margin-top: 0.7rem;
  width: 1.7rem;
}

.hcfcard.portfolio div.flex {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hcfcard.portfolio div img {
  height: 2rem;
}

.hcfcard.portfolio .reward {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hcfcard.portfolio .reward img {
  float: none;
  margin-top: 0;
}