.jumbo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #330086;
}

.jumbo .hercules {
  left: 10rem;
  bottom: 25vh;
  position: absolute;
}

.jumbo .title {
  margin: 0.5rem 0;
  font-size: 4rem;
  color: var(--primary-yellow);
}

.blue {
  color: var(--primary-blue);
}

.yellow {
  color: var(--primary-yellow);
}

.jumbo button {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: left;
  margin: 1.5rem 0;
  padding: 0.7rem;
  display: flex;
  gap: 0.7em;
  align-items: center;
  border: none;
  border-radius: 47px;
  color: white;
  background-color: var(--primary-blue);
}

.jumbo span {
  color: aqua;
}

.jumbo .wallet {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.jumbo .wallet a {
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--primary-yellow);
}

.jumbo .wallet img {
  height: 2rem;
}

.container {
  height: 80vh;
  background: linear-gradient(180deg, #330086 0%, #330086ab 70%, #3300866c 90%);
}

.features {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.FeaturesCard {
  padding: 2.2rem 1.5rem;
  width: 150px;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: linear-gradient(180deg, #6541a6 0%, #330086 100%);
}

.statsContainer {
  margin: 0 auto;
  padding-bottom: 4rem;
  max-width: 1300px;
  background: #fcfcfc;
  box-shadow: 0px 0px 123px -21px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.statsContainer h2 {
  max-width: 1200px;
  padding: 4rem;
  padding-bottom: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
  line-height: 1.2;
}

.statsContainer h2 span {
  color: #434343;
  font-size: 0.35em;
  display: block;
}

.stats {
  padding: 0 7rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.stats > div {
  width: 40%;
}

.imgSection {
  cursor: pointer;
  margin-bottom: 8rem;
  width: 100%;
}

.governanceTitle {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.governanceCard {
  padding: 1rem 20px;
  margin: 2rem 5rem;
  background: #e3f9e6;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  text-transform: uppercase;
}

.governanceCard > div {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.governanceCard > div p {
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 6px;
  padding: 0.4rem;
}

.governanceCard .address {
  color: white;
  background-color: var(--primary-blue);
}

.governanceCard .status {
  color: black;
  background-color: var(--primary-yellow);
}

.governanceCard .summary {
  width: 70%;
  margin-top: 0.3rem;
  font-size: 0.9rem;
}
