.jumbo {
  padding: 0 3rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  /* justify-content: space-between; */
}

* {
  text-transform: uppercase;
}

.jumbo > div h1 {
  margin: 0.5rem 0;
  font-size: 3.5rem;
}

.jumbo .campaignImage {
  position: relative;
  bottom: 5rem;
  height: 50%;
  max-width: 70%;
}

.participate p {
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 0.85rem;
  width: 60%;
}

.cardSection {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
  background-color: #e6f3ff;
  border-radius: 10px;
}

.whereAreWe {
  padding: 0 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.whereAreWe > div {
  width: 40%;
}

.SummaryCard {
  width: 80%;
  border-radius: 25px;
  margin-bottom: 2rem;
  padding: 2rem 1.5rem;
  background-color: #e2e2e2;
}

.SummaryCard h2 {
  font-size: 1.2rem;
}

.SummaryCard p {
  margin-top: 1rem;
  font-weight: bold;
  gap: 1rem;
  display: flex;
  align-items: center;
}

.connectWallet {
  margin-left: 0.5rem;
}

.connectWallet h2 {
  font-size: 0.9rem;
  padding-bottom: 1rem;
}

.connectWallet > div {
  display: flex;
  align-items: center;
  gap: 1.4em;
}

.connectWallet img {
  height: 1.7em;
}

.connectWallet a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  background-color: transparent;
}

.share {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.share h2 {
  font-size: 0.9rem;
  width: 60%;
}

.share button {
  font-weight: bold;
  width: 8rem;
  border: none;
  padding: 0.8rem 0.5rem;
  background-color: var(--primary-yellow);
}
