/* First Section */

.hero {
  margin-bottom: 5em;
  position: relative;
  z-index: -2;
}

.hero-main {
  display: flex;
  width: 100%;
  padding: 0 2em;
  width: fit-content;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  top: 4em;
}

.left,
.right {
  flex-basis: 50%;
  position: relative;
}

.hero-main .left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.hero-main .left .main-text h2 {
  font-size: 4.2em;
  font-weight: 800;
  color: #1c253a;
  height: auto;
  letter-spacing: -1px;
  line-height: 1;
  text-transform: uppercase;
}

.hero-main .left .main-text h4 {
  font-size: 1.6em;
  margin-top: 0.5em;
  color: #1c253a;
  line-height: 1;
  text-transform: uppercase;
}

.hero-main .left a .img .gold-gradient {
  width: 4em;
  background: radial-gradient(
    83.19% 83.19% at 27.68% 7.4%,
    #fec600 0%,
    #d1a534 55.39%,
    #ffe600 100%
  );
  border-radius: 50%;
  height: 4em;
  position: relative;
}

.hero-main .left a .img .gold-gradient img {
  margin: auto;
  height: 70%;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.hero-main .left a .img .buy-hcf {
  margin-left: 1em;
  color: white;
}

.hero-main .left a {
  text-decoration: none;
}

.hero-main .left a .img .buy-hcf p {
  color: aqua;
}

.hero-main .left a .img .point img {
  margin-left: 1em;
  vertical-align: bottom;
  height: 1.5em;
}

.hero-main .left > a > .img {
  display: flex;
  align-items: center;
  background-color: #2245ff;
  padding: 0.6em 0.8em;
  border-radius: 20em;
}

.hero-main .right .hercules-img {
  left: 5rem;
  height: 34rem;
  position: relative;
  top: 1em;
}

.hero-main .right .hercules-hero-img {
  position: absolute;
  top: -25ch;
  left: -12ch;
  z-index: -1;
}

/* End of First Section */

/* ----------------------------------------------------------------- */

/* Second Section */

.sec2 {
  display: grid;
  position: relative;
  grid-gap: 2%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3rem 0;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.gradient-border {
  background: white;
  box-shadow: 0px 0px 123px -21px rgba(0, 0, 0, 0.2);
  padding: 1.5em;
  border-radius: 25px;
  min-width: 25%;
  position: relative;
}

.grad-text {
  background: #fece00;
  padding: 1.2em;
  border-radius: 25px;
  position: relative;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.gradient-border .bottom > div {
  width: 100%;
  left: 0;
  color: black;
  bottom: 0;
  border-radius: 0 0 15px 15px;
  padding: 0.7em 1em;
  text-transform: uppercase;
  font-size: 0.7rem;
  text-align: center;
  margin: 1em 0;
  font-weight: 800;
}

.gradient-border .bottom > div img {
  vertical-align: middle;
  margin: 0 0.3em;
}

.gradient-border .bottom .text-right {
  right: 0;
  line-height: 1.5;
  color: #081f32;
  background-color: #f4f4f4;
  padding: 0.3em;
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  border-radius: 15px;
  font-weight: 800;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

.grad-text .middle {
  font-size: 1rem;
  line-height: 1;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  width: 85%;
}

.browse-all {
  position: absolute;
  bottom: -2em;
  font-size: 1.5em;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  cursor: pointer;
}

.browse-all img {
  width: 1em;
  vertical-align: bottom;
  margin-left: 0.5em;
}

.top {
  margin-bottom: 0.1em;
  font-size: 2.3rem;
  font-weight: 800;
  color: #081f32;
  line-height: 0.6;
}

.top .hercImg {
  height: 1.6em;
  width: 1.6em;
  right: 0;
  top: 0;
  position: absolute;
  margin: 0.4em;
  background: radial-gradient(
    83.19% 83.19% at 27.68% 7.4%,
    #fec600 0%,
    #d1a534 55.39%,
    #ffe600 100%
  );
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  padding: 0.3em;
}

.top .hercImg > img {
  height: 100%;
}

.top > span {
  font-size: 1rem;
  background-color: white;
  border-radius: 5px;
  padding: 0.55em;
  margin: 1em 0em;
  position: relative;
  display: block;
  width: fit-content;
}

.text-green {
  color: #00e532;
}

.text-red {
  color: #ff2a2a;
}

/* End of Second Section */

/* ----------------------------------------------------------------- */

/* Third Section */

.sec3 {
  margin: 10em auto;
  max-width: 1300px;
  background: linear-gradient(
      0deg,
      rgba(0, 24, 152, 0.15),
      rgba(46, 50, 73, 0.15)
    ),
    url(./../../images/bg-image.png);
  box-shadow: 0px 0px 123px -21px rgba(0, 0, 0, 0.2);
  background-size: cover;
  border-radius: 1.5em;
  background-position: center;
}

.sec3 h2 {
  max-width: 1200px;
  color: white;
  padding: 4rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
  line-height: 1.2;
}

.sec3 h2 span {
  font-size: 0.35em;
  display: block;
  margin: 1.5em 0;
}

.wallet {
  font-size: 0.4em;
  color: black;
  background-color: #fece00;
  padding: 0.6em 0.9em;
  width: fit-content;
  line-height: 1.5;
  margin: 2em 0 0 !important;
  white-space: nowrap;
  cursor: pointer;
}

/* End of Third Section */

/* ----------------------------------------------------------------- */

/* Fourth Section */

.sec4 {
  padding: 3em 0;
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.left-text {
  background-color: #ff794c;
  color: white;
  padding: 1em 3em;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
}

.sec4 > img {
  flex-basis: 50%;
}

.left-text p {
  font-size: 1.3rem;
  font-weight: 600;
}

.left-text h2 {
  font-weight: 800;
  font-size: 3.2rem;
}

.bblur {
  position: absolute;
  left: -15em;
  top: -7em;
  z-index: -1;
}

.blur {
  position: absolute;
  right: -8em;
  bottom: -10em;
  z-index: -1;
}

/* End of Fourth Section */

/* ----------------------------------------------------------------- */

/* Fifth Section */

.sec5 {
  display: flex;
  position: relative;
  padding: 0 3rem 2.5rem;
  max-width: 1250px;
  margin: 5em auto;
  justify-content: space-around;
}

.sec5 div {
  display: flex;
  font-weight: 640;
  border-radius: 1rem;
  height: 10rem;
  width: 12rem;
  text-align: center;
}

.bg-black {
  background-color: #454545;
}
.bg-orange {
  background-color: #fc7717;
}
.bg-purple {
  background-color: #a144ff;
}
.bg-pink {
  background-color: #ff60f9;
}
.bg-blue {
  background-color: #1787fc;
}

.sec5 > div > img {
  position: relative;
  height: 7.5rem;
  margin: auto auto auto 0;
  margin-left: 0rem;
  flex-basis: 50%;
}

.sec5 div h5 {
  letter-spacing: 2.6px;
  color: white;
  height: fit-content;
  margin: auto;
  line-height: 1;
  font-size: 1.5em;
  flex-basis: 50%;
}

.top20 {
  left: -100%;
  width: 200% !important;
}

.top30 {
  width: 100% !important;
  left: -5%;
  top: -30%;
}

.top50 {
  left: -5%;
  width: 200% !important;
  top: -60%;
}

/* End of Fifth Section */

/* ----------------------------------------------------------------- */

/* Sixth Section */

.sec6 {
  display: flex;
  height: 90ch;
  margin: 0 auto;
  max-width: 1400px;
}

.sec6 > img {
  width: 55%;
}

.sec6 h5 {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4em;
  background-color: #704cff;
  color: white;
}

.sec6 h5 span {
  margin-top: 1em;
  color: #fece00;
  cursor: pointer;
  width: fit-content;
}

.sec6 h5 span > img {
  height: 1.2em;
  vertical-align: bottom;
  margin-left: 0.5em;
}

/* End of Sixth Section */
/* ----------------------------------------------------------------- */
/* Seventh Section */

.sec7 {
  position: relative;
  margin: 5em auto;
}

.sec7 > img {
  position: absolute;
  height: 85rem;
  left: -60%;
  top: -40ch;
  z-index: -1;
}

.sec7 h3 {
  font-weight: 800;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
}

.wallets {
  display: flex;
  justify-content: space-around;
  padding: 3.5em 0em;
  max-width: 1300px;
  margin: 1em auto;
}

.wallets div p {
  text-align: center;
  text-transform: uppercase;
  color: #706e6e;
  font-weight: 700;
}

.wallets div img {
  height: 7em;
}

/* End of seventh Section */

/* ----------------------------------------------------------------- */

/* Eight Section */

.sec8 {
  width: 85%;
  max-width: 1300px;
  margin: 10em auto 10em;
}

.sec8 h3 {
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 0.9;
  text-transform: uppercase;
  text-align: center;
  color: #9979ff;
  margin-bottom: 1em;
}

.sec8 ul li p {
  font-weight: 800;
  color: #9979ff;
  text-transform: uppercase;
  font-size: 1.1em;
  margin: 3em 0;
}

.sec8 ul {
  list-style: none;
}

.sec8 ul li {
  display: flex;
}

.sec8 ul li div img {
  width: 7em;
  vertical-align: bottom;
}

.sec8 ul li div {
  position: relative;
  margin: auto 0;
}

.sec8 ul li div span {
  height: 100%;
  position: absolute;
  z-index: -1;
  width: 50%;
  top: 60%;
  left: 0;
  border-right: 3px dotted #9979ff;
}

@media only screen and (max-width: 500px){

  .hero{
    margin-bottom: 8em;
  }

  .hero-main{
    flex-direction: column;
    top: 1em;
    padding: 0 1em;
  }

  .hero-main .left .main-text h2{
    font-size: 2.2em;
  }

  .hero-main .left .main-text h4{
    font-size: 1.2em;
  }

  .hero-main .right .hercules-hero-img {
    height: 22em;
    top: -10ch;
    left: -8ch;
  }

  .hero-main .right .hercules-img {
    left: 0;
    height: 30rem;
    top: 2em;
  }

  .hero-main .left a {
    position: absolute;
    bottom: -35em;
    left: calc(50% - 1em); /* 1em from parents padding  */
    transform: translateX(-50%);
    width: fit-content;
  }

  /* Section 2  */
  .sec2{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 22em;
  }

  .browse-all {
    width: fit-content;
    bottom: -10em;
  }

  /* section 3 */

  .sec3 {
    width: 90%;
  }

  .sec3 h2 {
    font-size: 2.1rem;
    padding: 1.5em;
  }

  /* section 4 */

  .sec4{
    flex-direction: column;
  }

  .left-text {
    padding: 2em 3em;
  }

  .left-text h2 {
    font-size: 1.5em;
  }

  .left-text p{
    font-size: 0.8em;
  }

  /* Section 5 */
  .sec5{
    flex-wrap: wrap;
    font-size: 0.4em;
    justify-content: center;
    gap: 2em;
    padding: 0 1em 5em;
  }

  .sec5 div{
    height: 7rem;
    width: 7rem;
  }

  /* Section 6 */
  .sec6{
    flex-direction: column-reverse;
    height: fit-content;
  }

  .sec6 > img{
    width: auto;
  }

  .sec6 h5{
    padding: 3em 4em;
    font-size: 0.7em;
  }

  /* section 7 */
  .wallets{
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
  }

  .wallets div{
    display: flex;
    flex-direction: column;
  }

  .wallets div img {
    width: auto;
    height: 3em;
    margin: 0 auto 0.5em;
  }

  .wallets div p{
    font-size: 0.5em;
  }

/* Section 8 */
  .sec8{
    margin: 5em auto;
    width: 90%;
  }

  .sec8 h3{
    font-size: 1em;
    text-align: left;
  }
  .sec8 ul li div img {
    width: 5em;
  }

  .sec8 ul li p {
    font-size: 0.7em;
  }
}
