.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10em auto;
  padding: 0 6rem;
  width: 90%;
  margin: 5em auto;
  max-width: 1300px;
  min-height: 230px;
  background: linear-gradient(
      0deg,
      rgba(0, 24, 152, 0.15),
      rgba(46, 50, 73, 0.15)
    ),
    url(./../../images/bg-image.png);
  box-shadow: 0px 0px 123px -21px rgba(0, 0, 0, 0.2);
  color: white;
  background-size: cover;
  border-radius: 1.5em;
  background-position: center;
}

.container h2 {
  text-transform: uppercase;
  font-size: 2.4rem;
  margin-bottom: 0.3rem;
}

@media only screen and (max-width: 480px) {
  .container {
    align-items: flex-start;
    padding: 2rem;
  }
  .container h2 {
    font-size: 2rem;
  }
}