.vaultItem {
  background-color: #000a3c;
  padding: 1.2em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  opacity: 0.9;
  margin-bottom: 0.1em;
}

.vaultItem p {
  text-transform: uppercase;
  height: fit-content;
  margin: auto 0;
}

.vaultItem .change {
  margin-left: -6em;
  color: #67ff5a;
}

.vaultItem .buy {
  background-color: #fece00;
  padding: 0.5em 1.5em;
  cursor: pointer;
  color: black;
}

.name {
  display: flex;
  align-items: center;
}

.name img {
  height: 2.5em;
  vertical-align: middle;
  margin-right: 1em;
}

.name p span {
  display: flex;
  flex-direction: column;
}

.assets img {
  height: 2.5em;
  margin-left: -0.5em;
}

.swapImg img {
  z-index: 2;
  margin-right: 0;
}

.swapImg img:nth-child(odd) {
  position: relative;
  z-index: 2;
}

.swapImg img:nth-child(even) {
  position: relative;
  z-index: 1;
  margin-left: -1.2em;
  margin-right: 1.1em;
}

.swapItem .title {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.swapItem .left {
  text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
  .mobilePrice {
    padding-left: 0.5em;
  }
  .vaultItem .change {
    margin-top: 1em;
    margin-left: 0;
    color: #67ff5a;
  }
  .mobileText {
    font-size: 0.9em;
    padding-top: 0.2em;
    color: #767676;
    display: inline-block;
  }

  .swapImg {
    margin-left: -1em;
    display: flex;
  }
  .swapItem .left {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}
