/* First Section */
.sec3 {
  margin: 5em auto;
}

/* End of Second Section */

/* ----------------------------------------------------------------- */

/* Second Section */
.sec1 {
  margin: 5em auto;
}

.sec1 h2 {
  max-width: 1200px;
  padding: 4rem;
  padding-bottom: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
  line-height: 1.2;
}

.sec1 .title-icon {
  width: 1.6rem;
  margin-right: 0.5rem;
}

.sec1 .container {
  margin: 0 auto;
  padding-bottom: 4rem;
  max-width: 1300px;
  background: #fcfcfc;
  box-shadow: 0px 0px 123px -21px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.sec1 .container h2 span {
  max-width: 70%;
  color: #434343;
  font-size: 0.35em;
  display: block;
}

.sec1 .stats {
  padding: 0 7rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex-wrap: wrap;
}

.sec1 .stats > div {
  width: 40%;
}

.connect-wallet h2 {
  padding-bottom: 1rem;
}

.connect-wallet h2 span {
  color: black !important;
}

.connect-wallet > div {
  padding: 0 7rem;
  display: flex;
  align-items: center;
  gap: 1.4em;
}

.connect-wallet img {
  height: 1.7em;
}

.connect-wallet a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  background-color: transparent;
}

/* STAKE NOW */

.stake-now form .card {
  padding: 20px;
  background: #e3f9e6;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  text-transform: uppercase;
  margin: 1.5rem 7rem;
}

.stake-now form h2 {
  padding: 0;
  padding-left: 4rem;
}

.stake-now form h2 span {
  color: black !important;
}

.stake-now form .card div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.stake-now form .card input {
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
}

.stake-now form .card input:focus {
  outline: none;
}

.stake-now form .card section {
  position: relative;
}

.stake-now form .card section .input-unit {
  position: absolute;
  font-weight: bold;
  right: 1.5rem;
  bottom: 0.3rem;
  /* left: 0; */
}


@media only screen and (max-width: 480px){
  .sec1 h2 {
    padding: 2rem;
  }
  h2.title {
    text-align: center;
  }
  .sec1 .container h2 span {
    max-width: 100%;
  }
  .sec1 .stats {
    padding: 0 1.5em;
  }
  .sec1 .stats > div {
    width: 100%;
  }
}