.blurBg {
  position: fixed;
  min-height: 100vh;
  padding: 8rem 5rem;
  background: rgba(0, 8, 52, 0.72);
  color: white;
  width: 100vw;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
}

.modal {
  border-radius: 20px;
  min-width: 50vw;
  padding: 1.5rem;
  position: fixed;
  top: 3%;
  left: 25%;
  z-index: 3;
  background-color: white;
}

@media only screen and (max-width: 480px) {
  .modal {
    top: 0;
    left: 0;
    margin: 4rem 2rem;
  }
}
