@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.font-white {
  color: white !important;
}

.mobile-menu{
  display: none !important;
}

.dropDownMobile{
  display: none !important;
}

.Header {
  margin: 0 auto;
  padding: 1.5em 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e4dfce;
  z-index: 1;
}

.Header div {
  display: flex;
  align-items: center;
}

.Header div a{
  height: fit-content;
}

.Header div img {
  margin-right: 0.5em;
}

.Header>div>a>img{
  width: 11em;
}

.Header div h1 {
  line-height: 1;
  font-weight: 800;
  font-size: 2.3em;
}

.Header div span {
  line-height: 2.5;
  opacity: 0.5;
}

.Header ul {
  display: flex;
  list-style-type: none;
  font-family: Lato;
}

.Header > ul > li:not(:last-child) {
  background-color: #f4f4f4;
}

.Header ul li {
  height: fit-content;
  vertical-align: middle;
  font-size: 0.9em;
  padding: 0.7rem 1rem;
  height: auto;
}

.Header ul li a,
.Header ul li button {
  text-decoration: none;
  color: black;
  display: flex;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
}

.Header ul li button {
  font-size: 1.2em;
}

.Header ul li a svg, .Header ul li button svg, .Header ul li a img {
  height: 1.3rem;
}

.btn-gradient {
  align-items: center;
  display: flex;
  margin-left: 3em !important;
  font-size: 0.83rem;
  margin: 0;
  min-width: 0;
  padding: 0 !important;
  background-color: #2245ff;
}

.btn-green {
  background-color: #22ff45 !important;
}

.btn-gradient button {
  color: white !important;
  height: 2.5em;
  width: 10em;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.dropdown-show {
  display: flex !important;
}

.drop-menu ul {
  flex-direction: column;
  height: 15em;
  width: 35em;
  flex-wrap: wrap;
  position: absolute;
  margin-left: -9.5em;
  margin-top: 1em;
  background-color: #f4f4f4;
  display: none;
  top: 0;
  z-index: 1;
}

.drop-menu ul .pointer,
.drop-menu2 ul .pointer {
  position: absolute;
  top: -0.8em;
  left: 35%;
}

.Header ul .active {
  background-color: #dadada !important;
}

.drop-menu2 ul {
  flex-direction: column;
  height: 15em;
  width: 17em;
  flex-wrap: wrap;
  position: absolute;
  margin-left: -1em;
  margin-top: 17em;
  background-color: #f4f4f4;
  display: none;
  z-index: 1;
}

.drop-menu ul li,
.drop-menu2 ul li {
  margin: 1em 2em;
  padding: 0.7em 0;
  border-bottom: 4px solid #c4c4c4;
  width: 4em;
}

.drop-menu,
.drop-menu2 {
  top: 1.5em;
  position: relative;
}

/* -----------------Sign-in modal---------------------- */
.Header .open {
  display: flex !important;
}

.sign-in {
  position: fixed;
  min-height: 100vh;
  padding: 8rem 5rem;
  background-color: rgba(0, 8, 52, 0.78);
  color: white;
  flex-direction: column;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  display: none !important;
}

.sign-in > div {
  flex-direction: column;
  width: fit-content;
}

.sign-in section div ul li:active .sign-in {
  display: none !important;
}

.sign-in h2 {
  font-size: 2.5rem;
}

.sign-in > p {
  font-size: 0.8rem;
  font-weight: 500;
}

.sign-in a {
  text-decoration: none;
  color: blue;
  font-weight: 700;
}

.sign-in section {
  margin-top: 3em;
  display: flex;
}

.sign-in section > div {
  background-color: white;
  border-radius: 10px;
  padding: 1em;
  min-width: 20em;
  height: fit-content;
}

.sign-in section div ul {
  flex-direction: column;
  color: black;
  position: relative;
  width: 100%;
}

.sign-in section div ul li {
  font-weight: 600;
  position: relative;
  cursor: pointer;
  flex-wrap: wrap;
}

.sign-in section .more ul {
  flex-wrap: wrap;
  height: 10em;
}

.sign-in section .more ul:before {
  content: "MORE WALLET OPTIONS";
  position: absolute;
  top: -1.5em;
  font-size: 1.1em;
  font-weight: 600;
}

.sign-in section .more {
  padding: 4em 3em 1em;
  width: 30em;
  margin-left: 10em;
}

.sign-in .error {
  text-align: center;
  margin-top: 0.5em;
  font-size: 2em;
  font-weight: 500;
  color: #e75252;
}

.sign-in section div ul li img {
  height: 2em;
  vertical-align: middle;
  margin-right: 1.5em;
}

.sign-in section div ul .recommended {
  color: white;
  background-color: #2245ff;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.sign-in section div ul .recommended div {
  flex-direction: column;
}

.sign-in section div ul .recommended div .text-green {
  font-weight: 500;
}


@media only screen and (max-width: 500px){
  .desktop{
    display: none !important;
  }

  .body{
    min-width: 100% !important;
  }
  
  .mobile-menu{
    display: flex !important;
    align-items: center;
  }

  .mobile-menu li{
    background-color: white !important;
    height: fit-content;
    font-weight: bold;
    font-size: 1em !important;
  }

  .mobile-menu li img{
    height: 1.5em;
    margin-right: 0em;
    vertical-align: middle;
  }

  .Header>div>a>img{
    width: 7em;
  }

  .Header ul li{
    padding: 0.7rem 0.5rem;
  }
  .Header{
    padding: 0.3em;
  }

  .dropDownMobile-show{
    font-size: 1.2em;
    font-weight: 600;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    top: 3em;
    background-color: #F4F4F4;
    z-index: 2;
  }

  .dropDownMobile-show > section{
    padding: 2.5em 2.5em 0;
    width: 15em;
  }

  .dropDownMobile-show > section:nth-child(2){
    padding-bottom: 1em;
    border-bottom: 1px solid#D4D2D2;
  }

  .dropDownMobile-show > section > ul{
    flex-direction: column;
  }

  .dropDownMobile-show > section > ul > li{
    background-color: transparent !important;
    padding: 1rem 0.5rem;
  }

  .dropDownMobile-show > section > ul > li > a > img{
    margin-right: 0.8em;
  }

  .btn-gradient{
    margin: 2em 0 !important;
  }

  .btn-gradient button{
    font-size: 0.8em !important;
    background-color: blue !important;
  }
}