.userDetails {
  z-index: 0;
  border: 1px solid black;
  font-weight: 500;
  position: absolute;
  display: flex !important;
  border: 1px solid black;
  border-top: none;
  border-radius: 0 0 20px 20px;
  padding: 1.5em;
  min-width: 1000px;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(180deg, #ede9e9 0%, #ffffff 100%);
  top: 5.7em;
  width: 80%;
  margin: 0 auto;
  word-break: break-word;
  cursor: default;
  opacity: 0;
  transition: all 0.7s;
}

.show {
  opacity: 1;
}

.userDetails:hover {
  opacity: 1 !important;
}

.userDetails .left {
  align-items: center;
  font-size: 0.9em;
  font-weight: 700;
  width: fit-content;
}

.userDetails .left p span {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0.2em 0;
  opacity: 0.5;
  line-height: 1;
}

.userDetails > .right > button {
  align-self: center;
  background-color: var(--primary-blue);
  border: none;
  padding: 0.7em 1em;
  color: white;
  font-size: 0.9em;
  font-weight: 500;
  cursor: pointer;
}

.userDetails > div > p {
  text-align: left;
  font-size: 1.02em;
  line-height: 1;
  font-weight: 700;
}

.userDetails > .right {
  border: 1px solid black;
  background-color: white;
  justify-content: space-between;
  padding: 1em 1em;
  border-radius: 20px;
  height: fit-content;
}

.userDetails p {
  margin-bottom: 0.5em;
}
