.container {
  width: 90%;
  margin: 5em auto;
  max-width: 1300px;
  padding-bottom: 4rem !important;
}

.heading {
  margin: 2em 0;
  text-transform: uppercase;
}

.heading h2 {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 3rem;
}

.heading p {
  font-size: 0.9rem;
  font-weight: 700;
}

.heading h2 img {
  height: 1em;
  padding-right: 0.4rem;
  vertical-align: middle;
}

.childShadow {
  margin: 0;
  padding: 2rem 3rem;
  padding-bottom: 4rem;
  max-width: 1300px;
  background: #fcfcfc;
  box-shadow: 0px 0px 123px -21px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

@media only screen and (max-width: 480px) {
  .heading h2 {
    font-size: 2rem;
    justify-content: center;
  }
}