.footer {
  display: flex;
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
}

.footerMobile{
  display: none;
}

.footer .left .footer-nav {
  display: flex;
  align-items: flex-start;
}

.footer .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer .left .footer-nav div ul li {
  list-style: none;
  margin: 1.3em 0;
  font-weight: 700;
  color: #203053;
  font-size: 0.9em;
  text-transform: uppercase;
  cursor: pointer;
  width: fit-content;
}

.footer .left .footer-nav div ul {
  margin: 0 1.5em;
}

.footer .left .footer-nav div ul .list-head {
  font-weight: 800;
  font-size: 1.1rem;
  margin-bottom: 0.8em;
  margin-bottom: 0 !important;
  opacity: 0.8;
  color: #0d0b07;
  cursor: default;
}

.footer .left .footer-label p {
  color: #1c253a;
  font-weight: 700;
  font-size: 1.05rem;
}

.footer .left .footer-label img {
  margin-right: 3em;
}

.footer .right {
  flex-basis: 40%;
  position: relative;
}
.footer .right > div {
  background-color: #fece00;
  padding: 1.5em 1.5em 0.5em 1.5em;
}

.footer .right .social-links {
  background-color: transparent;
  border-radius: 0;
  width: fit-content;
  margin-left: auto;
  padding: 1.5em 0 !important;
}

.footer .right div h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

.footer .right div input[type="email"] {
  padding: 0.8em;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  outline: none;
  border: none;
  text-transform: none;
}

.footer .right div div {
  display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}

.footer .right div p {
  font-weight: 500;
  color: #515151;
  text-transform: uppercase;
}

.footer .right div button {
  font-weight: 700;
  font-size: 0.9em;
  padding: 1em;
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  margin: 0 0 2em;
  cursor: pointer;
}

.footer .right .social-links ul li {
  list-style: none;
  font-size: 0.9em;
  text-align: right;
  color: #9f9f9f;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0.8em 0 0 auto;
  cursor: pointer;
  width: fit-content;
}

.footer-nav,
.footer-label {
  margin-right: auto;
}

.footer-label {
  display: flex;
  margin-bottom: 2em;
}

@media only screen and (max-width: 500px) {
  .footerMobile{
    display: block;
  }

  .footer {
    flex-direction: column-reverse;
    width: 100%;
  }
  
  .footer .right > div {
    border-radius: 0;
  }

  .footer .right div h3 {
    font-size: 0.9em;
  }

  .footer .right div input[type="email"] {
    width: 90%;
    border-radius: 0px;
  }

  .footer .right div div {
    flex-direction: column;
  }

  .footer .right div button {
    width: fit-content;
    height: fit-content;
    margin-top: 0.8em;
  }

  .footerMobile {
    top: 11.5em;
    width: 100%;
    background-color: #f4f4f4 !important;
  }

  .footerMobile > section {
    padding: 2.5em 1em;
  }

  .footerMobile > section > ul {
    list-style-type: none;
  }

  .footerMobile > section > p {
    font-weight: 800;
  }

  .footerMobile > section > ul > li {
    margin: 1em 0;
    background-color: transparent;
    font-weight: 800;
  }

  .footerMobile > section > ul > li > a > img {
    height: 1.2em;
    width: 1em;
    vertical-align: bottom;
    margin-right: 0.2em;
  }

  .footerMobile > section > ul > li > a {
    color: black;
    font-weight: 800;
    font-size: 1.1em;
  }

  .footerMobile > section:nth-child(2) {
    border-bottom: 1px solid #c4c4c4;
  }
}
