.table {
    width: 100%;
}

.titleSection {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 1em 2em;
}

.titleSection th {
  font-size: 0.9rem;
  font-weight: 700;
  opacity: 0.9;
  text-transform: uppercase;
}

.ml {
    margin-left: 8rem;
}

.sML {
    margin-right: -3rem;
}

.tableItem {
    display: flex;
    justify-content: space-between;
}