body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* GLOBAL STYLES */

:root {
  --primary-yellow: #FECE00;
  --primary-blue: #2245FF;
  --light-black: #081F32;
  --light-gray: #434343;
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.body {
  overflow-x: hidden;
  min-width: 1250px;
}

::-webkit-scrollbar {
  width: 0.9rem;
  height: 0.9rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #091742;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fece00;
  border-radius: 10px;
  border: 1.5px solid #896f00;
}

::-webkit-scrollbar-thumb:hover {
  background: #dfb501;
}