.sec1 {
  position: relative;
  background: linear-gradient(
      81.04deg,
      rgba(48, 14, 255, 0.3) 0%,
      rgba(251, 37, 255, 0.192188) 52.6%,
      rgba(0, 255, 209, 0.3) 100%
    ),
    url(./../../images/stakingbg.png);
  top: -5.8em;
  z-index: -1;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 5em;
  background-size: cover;
}

.sec1 > .left {
  flex-basis: 60%;
  color: white;
}

.sec1 > .left h1 {
  font-size: 5em;
  line-height: 1;
  margin-bottom: 0.2em;
  font-weight: 700;
}

.sec1 > .left p {
  font-weight: 500;
}

.sec1 > .right {
  height: 70%;
  width: 40%;
  position: relative;
}

.sec1 > .right img {
  height: 40em;
  width: auto;
  position: absolute;
  top: 0;
  right: -5em;
}

.sec2 {
  display: flex;
  justify-content: center;
}

.sec3 {
  width: 85%;
  margin: 7em auto;
  background-color: #170059;
  color: white;
  border-radius: 25px;
  padding-bottom: 0.5em;
}

.sec3 .top img {
  width: 50%;
}

.sec3 .top {
  display: flex;
}

.sec3 .bottom {
  width: 90%;
  margin: 5em auto;
}

.sec3 .bottom h3 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2em;
}

.sec3 .info {
  display: flex;
  justify-content: space-evenly;
}

.sec3 .info span {
  display: block;
  background-color: #21017c;
  padding: 1.2em;
  border-radius: 15px;
  font-size: 0.7em;
  width: 57ch;
  font-weight: 500;
}

.sec4 {
  display: flex;
  justify-content: center;
}

.sec5 {
  width: 85%;
  margin: 5em auto;
}

.sec5 h2 {
  font-size: 3.5em;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 0.2em;
}

.sec5 p {
  font-size: 0.8em;
  font-weight: 700;
}

.sec6 {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10em auto;
}

.sec6 img {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  box-shadow: 0px 0px 123px -21px rgba(0, 0, 0, 0.2);
}

.sec6 > div {
  width: 70%;
  margin: 0 auto;
}

.sec6 > div h2 {
  font-size: 2.8em;
  margin-bottom: 0.5em;
}

.sec6 > div p {
  font-size: 0.9em;
  font-weight: 500;
}

.sec7 {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 12em;
}

.sec7 div {
  background-color: white;
  box-shadow: 0px 0px 123px -21px rgb(0 0 0 / 20%);
  flex-basis: 48%;
  padding: 3em 2em;
  border-radius: 20px;
}

.sec7 > div > p {
  width: 75%;
  font-size: 0.8em;
  font-weight: 700;
}

.sec7 > div > h1 {
  line-height: 1;
  font-size: 2.5em;
  font-weight: 750;
  margin-bottom: 0.3em;
}

.sec7 > div:last-child {
  top: 7em;
  position: relative;
}

.sec8 {
  width: 90%;
  margin: 0 auto;
}

.sec8 h2 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 1em;
}

.sec8 img {
  width: 100%;
}

.sec9 {
  width: 80%;
  margin: 2em auto;
  background-image: url(./../../images/galaxybg.png);
  color: white;
  padding: 5em;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 60px -21px rgb(0 0 0 / 20%);
}

.sec9 h2 {
  font-size: 2.5em;
  line-height: 1;
  margin-bottom: 0.3em;
}

.sec9 p {
  font-weight: 500;
  font-size: 0.9;
  width: 70%;
}

.sec10 {
  width: 90%;
  margin: 0 auto;
}

.sec11 {
  width: 85%;
  margin: 0 auto;
}

.infoIco{
    vertical-align: bottom;
    width: 1.4em;
}

.sec11 > div:not(:first-child) {
  box-shadow: 0px 0px 123px -21px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.sec11 > div:first-child > div {
  box-shadow: 0px 0px 123px -21px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 2.5em 1.5em;
}

.sec11 .reward {
  flex-basis: 75%;
}

.sec11 .reward > div {
  display: flex;
  margin: 0.3em 0;
}

.sec11 .tab1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.sec11 .tab1 .first {
  flex-basis: 25%;
}

.smOp {
  font-weight: 800;
  font-size: 0.75em;
  opacity: 0.4;
}

.fnBg {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0.2em 0;
}

.fmSm {
  font-size: 0.75em;
}

.fwBg {
  font-weight: 700;
}

.sec11 .rewardInfo {
    font-weight: 700;
    font-size: 1em;
    width: fit-content;
    white-space: nowrap;
    margin-right: 2em;
    line-height: 1.5;
}

.sec11 .inputInvisible {
  width: auto;
  margin: 0;
  border: none;
}

.sec11 .reward span {
  width: 100%;
  color: white;
}

.sec11 .reward span .green {
  background-color: #24d897;
  width: 60%;
  padding: 0 0 0 0.5em;
  border-radius: 5px;
}

.sec11 .reward span .purple {
  background-color: #cf4eb7;
  width: 25%;
  padding: 0 0 0 0.5em;
  border-radius: 5px;
}

.sec11 .reward span .blue {
  background-color: #67bdf0;
  width: 15%;
  padding: 0 0 0 0.5em;
  border-radius: 5px;
}

.sec11 .reward span div {
  margin: 0.2em 0;
}

.sec11 .tab2 {
  background-color: white;
  padding: 2em 1.5em;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.sec11 .tab2 > .first > span {
  margin-top: 1em;
  display: block;
  background-color: #e2e2e2;
  width: fit-content;
  padding: 0.7em 1em;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 700;
  opacity: 0.9;
}

.sec11 .tab2 > .first > span > input {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent;
  width: 6em;
  outline: none;
}

.sec11 .tab2 span img {
  height: 1.2em;
  vertical-align: middle;
}

.commitment > div {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.commitment > div > span {
  font-size: 0.75em;
  font-weight: 700;
  white-space: nowrap;
  display: inline-block;
  text-align: left;
  width: 6em;
}

.commitment .progress {
  background-color: rgb(133 92 248 / 40%);
  width: 5%;
  height: 0.7em;
  border-right: 3px solid #855cf8;
}

.commitment:last-child .progress {
  width: 60%;
}

.second {
  width: 22%;
}

.ssecond {
  margin-top: 1.5em;
}

.third {
  display: flex;
}

.third > div:first-child {
  margin-right: 3em;
}

.third > div > div {
  margin-top: 1em;
  display: block;
  background-color: #e2e2e2;
  width: fit-content;
  padding: 0.7em 1em;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 700;
  opacity: 0.9;
}

.third > div > div > input {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent;
  width: 3em !important;
  outline: none;
}

.third > div > div > img {
  height: 1.5em;
  vertical-align: middle;
  margin-left: 0.5em;
}

.tab3 {
  margin-top: 1em;
  padding: 2em 1.5em;
}

.tab3 div hr{
    margin-top: 2em;
}

.tab3 .first {
  display: flex;
  justify-content: space-between;
}

.tab3 .first > div {
  width: 48%;
}

.tab3 .first > div > span {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  background-color: #e2e2e2;
  width: fit-content;
  padding: 0.7em 1em;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 700;
  opacity: 0.9;
  width: 100%;
}

.tab3 .first > div > span img {
  height: 1.2em;
  vertical-align: middle;
}

.tab3 input {
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  outline: none;
  margin: 1em 0;
}

.tab3 .third {
  margin-top: 1em;
}

.tab3 .third > span > img {
  height: 1.5em;
  vertical-align: middle;
  margin-left: 0.5em;
}

.tab3 .third span {
  height: 1.5em;
  vertical-align: middle;
  margin-left: 0.5em;
  font-size: 0.8em;
  font-weight: 700;
  margin-right: 1em;
}

.tab3 .third span:nth-child(2) {
  border-right: 1px solid black;
  padding-right: 1em;
}

.tab3 .third span:nth-child(3) {
  margin-left: 1em;
}

.tab4 {
  margin-top: 1em;
  padding: 2em 1.5em;
}

.tab4 > div {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 50px 15%;
}

.tab4 > div > div {
  text-align: center;
}

.tab4 > div > div p:last-child {
  font-size: 0.9em;
  font-weight: 700;
}

.tab4 > div > div p img {
  height: 1.5em;
  vertical-align: middle;
}

.tab4 > div > div p {
  margin-top: 1em;
}

.tab5 {
  margin-top: 1em;
  padding: 2em;
}

.tab5 .chart {
  height: 20em;
}

.tab5 .info {
  display: flex;
  margin-bottom: 2em;
}

.tab5 .info p:not(:first-child) {
  padding-left: 1em;
  border-left: 2.5px solid #00000085;
}

.tab5 .info p {
  margin-right: 1em;
  cursor: pointer;
}

.bold{
    opacity: 1 !important;
}

/* --------------sec 12 ------------ */
.sec12 {
  width: 80%;
  margin: 2em auto 5em;
}

.sec12 .top {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.sec12 .top input {
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  outline: none;
}

.sec12 .top > div {
  background-color: #e2e2e2;
  width: fit-content;
  padding: 0.7em 1em;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 700;
  width: 48%;
}

.sec12 button {
  padding: 0.8em 1.2em;
  border: none;
  background-color: var(--primary-yellow);
  margin-top: 2em;
  font-weight: 800;
  cursor: pointer;
}
