.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.container .portfolioCard {
  margin-top: 3rem;
  padding: 2rem;
  background: #fcfcfc;
  box-shadow: 0px 0px 123px -21px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  width: 45%;
  max-width: 45%;
}

.portfolioCard .title {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.portfolioCard .hcfCard {
    margin-bottom: 1rem;
}

.portfolioCard .right {
  height: 2.3rem;
}

.governance {
  padding: 1.5rem 1rem;
}

.governance div {
  margin-top: 1.3rem;
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.governance button {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.3rem 0.7em;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: var(--primary-blue);
}

.buyHCF {
  cursor: pointer;
  margin-top: 5rem;
}

.buyHCF img {
  max-width: 100%;
}