.hcf-index .container {
  width: 90%;
  margin: 5em auto;
}

.buy-and-sell {
    width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2.2rem;
  background: #ffffff;
  box-shadow: 0px 0px 123px -21px rgba(197, 194, 194, 0.404);
  border-radius: 25px;
}

.buy-and-sell .item {
    border-radius: 25px;
    width: 30%;
}

.buy-and-sell .price-details {
    display: flex;
    flex-wrap: wrap;
    background-color: #EFEFED;
}

.buy-and-sell .price-details section {
    width: 50%;
}

.buy-and-sell .price-details section h2 {
    padding: 1rem;
    color: #858585;
    font-size: 1em;
}

.buy-and-sell .price-details section:nth-child(odd) {
    border-right: 1px solid #8585853b;
}

.buy-and-sell .nav, .buy-and-sell .premium {
    border-bottom: 1px solid #8585853b;
}

.buy-and-sell .action {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.buy-and-sell .action button {
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    padding: 0.8rem;
    border: none;
    color: white;
    background-color: var(--primary-blue);
}

.buy-and-sell .action button span {
    font-weight: normal;
    font-size: 0.7em;
}

.hcf-index .text-body {
    padding-bottom: 5rem;
}

.hcf-index .text-body h2 {
    margin-bottom: 0.6rem;
    margin-top: 3rem;
}

.hcf-index .text-body ol {
    padding-left: 2rem;
}

.hcf-index .text-body li {
    margin-top: 0.4rem;
}